<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clustering de Productos</title>
</head>
<body>
    <h1>Clustering de Productos</h1>
    
    <!-- Aquí se mostrará la imagen del gráfico de clustering -->
    <img src="data:image/png;base64,{{ grafico }}" alt="Gráfico de Clustering">
    
    <!-- Enlace para volver a la página de inicio -->
    <a href="/">Volver a la página de inicio</a>
</body>
</html>
