<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafico de precio vs cantidad</title>
</head>
<body>
    <h1>graficos de precio vs cantidad</h1>
    
    <!-- Aquí se mostrará la imagen del gráfico de clustering -->
    <div class="card">
        <div class="card-header">
            Gráfico precio vs cantidad
        </div>
        <div class="card-body">
            <img src="data:image/png;base64,{{ PrecioCantidad }}" alt="Gráfico de Ventas por Categoría" class="img-fluid">
        </div>
    </div>
    <!-- Enlace para volver a la página de inicio -->
    <a href="/">Volver a la página de inicio</a>
</body>
</html>