<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %}  {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/gestionProducto.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.16.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light  bg-dark">
    <a class="navbar-brand text-light"  href={% url 'home' %}>AlmacenaPlus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto"> <!-- Utilizamos mr-auto para alinear elementos a la izquierda -->
        <li class="nav-item active">
          <a class="nav-link text-light" href={% url 'home' %}>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="dashboard">Dashboard</a>
        </li>
        {% if request.user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link text-light" href={% url 'exit' %}>Salir</a>
        </li>

        {% else %}

        <li class="nav-item">
          <a class="nav-link text-light" href={% url 'login' %}>Inicio sesion</a>
        </li>

        {% endif %}
        
      </ul>
    </div>
    <ul class="navbar-nav"> <!-- Colocamos el botón de carrito de compras en una lista de navegación aparte -->
        <li class="nav-item">
          <a href="compras" class="btn btn-light">
            <i class="fas fa-shopping-cart"></i> Carrito de compras
          </a>
        </li>
    </ul>
  </nav>
  
      <div class="container py-4">
        {% block body %}

        {% endblock %}        
      </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="{% static 'js/gestionProducto.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-Dziy2m1bX4d32+X9zMLST02Iw6Ry2k5+ZiR3PVqz2h3eNxhRNE6AiMQ8v2ADGdrX" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-odjvqC5zeEgJX6l8e4sj3a/DJx7Fso94+O2DprHfrp9eCZzdbQkC2L6/OmTW2ybR" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-VoUJ6iCwE0bj2jHv6Ozr0G73TB1b0nc4xEExbUf7BdoIQ/K6GAe8vo4HwvmF/5R4" crossorigin="anonymous"></script>

</body>
</html>