<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %}  {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/gestionProducto.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.16.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
     integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light  bg-dark">
    <a class="navbar-brand text-light"  href={% url 'home' %}>AlmacenaPlus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto"> <!-- Utilizamos mr-auto para alinear elementos a la izquierda -->
        <li class="nav-item active">
          <a class="nav-link text-light" href={% url 'home' %}>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href={% url 'dashboard'%}>Dashboard</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav"> <!-- Colocamos el botón de carrito de compras en una lista de navegación aparte -->
        <li class="nav-item">
          <a href="compras" class="btn btn-light">
            <i class="fas fa-shopping-cart"></i> Carrito de compras
          </a>
        </li>
    </ul>
  </nav>
  
  {% load crispy_forms_tags %}

  
  <br>
  <form action="" method="post">
      {% csrf_token %}
  
      <div class="card mx-auto" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title">Ingrese sus datos de inicio</h5>
            {{form | crispy}}
            <a href={% url 'home' %} class="card-link">Inicio</a>
            <button class="btn btn-sm btn-primary float-end" type="submit">Iniciar sesión</button>
          </div>
        </div>
      
  
  </form>
</body>
</html>